body{
    min-width:100%;
}
.logo {
    width: 40px;
    height: 40px;
    margin-left: 7px;
}

#nav_container {
}

.navbar {
    min-width: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    z-index: 1000;
    margin-bottom: 0; 
}

#nav_items {
    position: fixed;
}

.itemID {
    min-width: 1.5px;
}

.itemType {
    min-width: 100px;
}

#room {
    left: 180px;
    position: fixed;
}

.status {

}

.lastUser {

}

.nav_user {
    right: 12px;
    position: fixed;
}

.nav_room {
}